In [3]:
import pandas as pd

bank_df = pd.read_csv('bankdata.csv.crdownload')
bank_df

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0
...,...,...,...,...,...,...,...,...,...,...
594638,179,'C1753498738','3','F','28007','M1823072687','28007','es_transportation',20.53,0
594639,179,'C650108285','4','F','28007','M1823072687','28007','es_transportation',50.73,0
594640,179,'C123623130','2','F','28007','M349281107','28007','es_fashion',22.44,0
594641,179,'C1499363341','5','M','28007','M1823072687','28007','es_transportation',14.46,0
594642,179,'C616528518','4','F','28007','M1823072687','28007','es_transportation',26.93,0

In [4]:
result_0 = bank_df.loc[bank_df['fraud'] == 0]

used_data0=result_0.loc[:49]
len(used_data0)

result_1 = bank_df.loc[bank_df['fraud'] == 1]
result_1 = result_1.reset_index()
used_data1=result_1.loc[:49]

frames = [used_data0, used_data1]

result = pd.concat(frames)
result = result.reset_index()
result

,level_0,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud,index
0,0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0,NaN
1,1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0,NaN
2,2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0,NaN
3,3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0,NaN
4,4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,45,1,'C894204131','1','M','28007','M480139044','28007','es_health',132.13,1,2966.0
96,46,1,'C583110837','3','M','28007','M3697346','28007','es_leisure',285.16,1,2977.0
97,47,1,'C1079254393','1','F','28007','M3697346','28007','es_leisure',352.70,1,2978.0
98,48,1,'C1174735331','3','F','28007','M1649169323','28007','es_sportsandtoys',1041.31,1,3009.0
99,49,1,'C957324981','4','M','28007','M1649169323','28007','es_sportsandtoys',591.83,1,3010.0

In [5]:
result['age'] = result['age'].str.replace('[^0-9]', '', regex=True)

# used_data=used_data.loc[:, used_data.columns.drop(['level_0'])]

result['zipcodeOri'] = result['zipcodeOri'].str.replace('[^0-9]', '', regex=True)

result['zipMerchant'] = result['zipMerchant'].str.replace('[^0-9]', '', regex=True)
# used_data=used_data.loc[:, used_data.columns.drop(['level_0'])]

In [6]:
from sklearn.preprocessing import LabelEncoder
ce = LabelEncoder()
result['category'] = ce.fit_transform(result['category'])
result['gender'] = ce.fit_transform(result['gender'])

result['merchant'] = result['merchant'].str[2:-1].astype(int)

result

,level_0,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud,index
0,0,0,'C1093826151',4,1,28007,348934600,28007,7,4.55,0,NaN
1,1,0,'C352968107',2,1,28007,348934600,28007,7,39.68,0,NaN
2,2,0,'C2054744914',4,0,28007,1823072687,28007,7,26.89,0,NaN
3,3,0,'C1760612790',3,1,28007,348934600,28007,7,17.25,0,NaN
4,4,0,'C757503768',5,1,28007,348934600,28007,7,35.72,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,45,1,'C894204131',1,1,28007,480139044,28007,1,132.13,1,2966.0
96,46,1,'C583110837',3,1,28007,3697346,28007,4,285.16,1,2977.0
97,47,1,'C1079254393',1,0,28007,3697346,28007,4,352.70,1,2978.0
98,48,1,'C1174735331',3,0,28007,1649169323,28007,6,1041.31,1,3009.0
99,49,1,'C957324981',4,1,28007,1649169323,28007,6,591.83,1,3010.0

In [7]:
labels = result['fraud']

result['customer'] = result['customer'].str[2:-1].astype(int)
result=result.loc[:, result.columns.drop(['customer', 'zipcodeOri', 'merchant', 'zipMerchant','step','index', 'level_0'])]

result['age'] = result['age'].str.replace('[^0-9]', '', regex=True).astype(int)

In [8]:
result.dtypes

age           int64
gender        int64
category      int64
amount      float64
fraud         int64
dtype: object

In [9]:
result.values

array([[4.00000e+00, 1.00000e+00, 7.00000e+00, 4.55000e+00, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 3.96800e+01, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 7.00000e+00, 2.68900e+01, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 7.00000e+00, 1.72500e+01, 0.00000e+00],
       [5.00000e+00, 1.00000e+00, 7.00000e+00, 3.57200e+01, 0.00000e+00],
       [3.00000e+00, 0.00000e+00, 7.00000e+00, 2.58100e+01, 0.00000e+00],
       [1.00000e+00, 0.00000e+00, 7.00000e+00, 9.10000e+00, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 7.00000e+00, 2.11700e+01, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 7.00000e+00, 3.24000e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 3.54000e+01, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 7.00000e+00, 1.49500e+01, 0.00000e+00],
       [1.00000e+00, 1.00000e+00, 7.00000e+00, 1.51000e+00, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 1.00000e+00, 6.87900e+01, 0.00000e+00],
       [5.00000e+00, 1.00000e+00, 7.00000e+00, 2.03200e+01, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 7.00000e+00, 1.35600e+01, 0.00000e+00],
       [3.00000e+00, 0.00000e+00, 7.00000e+00, 3.01900e+01, 0.00000e+00],
       [4.00000e+00, 1.00000e+00, 7.00000e+00, 1.75400e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 4.06900e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 2.12100e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 1.00900e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 1.93100e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 4.42200e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 4.43900e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 3.07200e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 2.98400e+01, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 7.00000e+00, 1.21000e+01, 0.00000e+00],
       [4.00000e+00, 1.00000e+00, 7.00000e+00, 2.48400e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 1.64200e+01, 0.00000e+00],
       [5.00000e+00, 1.00000e+00, 7.00000e+00, 2.19000e+00, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 3.22700e+01, 0.00000e+00],
       [4.00000e+00, 1.00000e+00, 7.00000e+00, 2.80900e+01, 0.00000e+00],
       [5.00000e+00, 1.00000e+00, 7.00000e+00, 1.61300e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 3.27000e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 2.55300e+01, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 7.00000e+00, 3.92200e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 4.61400e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 2.95500e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 3.68800e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 3.61500e+01, 0.00000e+00],
       [5.00000e+00, 0.00000e+00, 7.00000e+00, 2.81000e+00, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 5.00000e+00, 8.76700e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 1.11700e+01, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 1.00000e+00, 1.05590e+02, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 7.00000e+00, 1.52500e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 3.33600e+01, 0.00000e+00],
       [4.00000e+00, 0.00000e+00, 7.00000e+00, 3.29600e+01, 0.00000e+00],
       [2.00000e+00, 0.00000e+00, 7.00000e+00, 1.69600e+01, 0.00000e+00],
       [3.00000e+00, 0.00000e+00, 7.00000e+00, 4.99100e+01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 9.30000e-01, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 7.00000e+00, 3.77100e+01, 0.00000e+00],
       [3.00000e+00, 1.00000e+00, 1.00000e+00, 4.42600e+01, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 1.00000e+00, 3.24500e+02, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 3.00000e+00, 1.76320e+02, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 3.00000e+00, 3.37410e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 8.00000e+00, 2.20110e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 8.00000e+00, 4.32000e+00, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 6.00000e+00, 2.78020e+02, 1.00000e+00],
       [5.00000e+00, 0.00000e+00, 6.00000e+00, 6.95300e+01, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 6.00000e+00, 7.01500e+01, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 6.00000e+00, 2.38820e+02, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 1.00000e+00, 6.67090e+02, 1.00000e+00],
       [1.00000e+00, 0.00000e+00, 1.00000e+00, 5.20500e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 8.00000e+00, 1.90530e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 8.00000e+00, 4.51920e+02, 1.00000e+00],
       [5.00000e+00, 0.00000e+00, 6.00000e+00, 3.05110e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 6.00000e+00, 7.64000e+02, 1.00000e+00],
       [4.00000e+00, 1.00000e+00, 2.00000e+00, 3.28020e+02, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 2.00000e+00, 7.07220e+02, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 8.00000e+00, 1.98580e+02, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 8.00000e+00, 3.04210e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 8.00000e+00, 1.54770e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 8.00000e+00, 1.22040e+02, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 6.00000e+00, 8.81040e+02, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 6.00000e+00, 8.30700e+01, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 8.00000e+00, 4.32270e+02, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 8.00000e+00, 8.76800e+01, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 1.00000e+00, 2.89210e+02, 1.00000e+00],
       [5.00000e+00, 0.00000e+00, 1.00000e+00, 5.60900e+02, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 8.00000e+00, 1.35110e+02, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 8.00000e+00, 2.56370e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 5.00000e+00, 6.66000e+01, 1.00000e+00],
       [5.00000e+00, 1.00000e+00, 5.00000e+00, 1.89220e+02, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 6.00000e+00, 3.64680e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 6.00000e+00, 3.98570e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 0.00000e+00, 1.19810e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 0.00000e+00, 5.06770e+02, 1.00000e+00],
       [2.00000e+00, 0.00000e+00, 6.00000e+00, 3.83140e+02, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 6.00000e+00, 3.21700e+02, 1.00000e+00],
       [1.00000e+00, 0.00000e+00, 1.00000e+00, 9.08500e+02, 1.00000e+00],
       [4.00000e+00, 1.00000e+00, 1.00000e+00, 1.42860e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 6.00000e+00, 2.55140e+02, 1.00000e+00],
       [4.00000e+00, 0.00000e+00, 6.00000e+00, 2.19300e+01, 1.00000e+00],
       [6.00000e+00, 0.00000e+00, 8.00000e+00, 2.12160e+02, 1.00000e+00],
       [1.00000e+00, 0.00000e+00, 8.00000e+00, 3.29130e+02, 1.00000e+00],
       [2.00000e+00, 1.00000e+00, 1.00000e+00, 9.33690e+02, 1.00000e+00],
       [1.00000e+00, 1.00000e+00, 1.00000e+00, 1.32130e+02, 1.00000e+00],
       [3.00000e+00, 1.00000e+00, 4.00000e+00, 2.85160e+02, 1.00000e+00],
       [1.00000e+00, 0.00000e+00, 4.00000e+00, 3.52700e+02, 1.00000e+00],
       [3.00000e+00, 0.00000e+00, 6.00000e+00, 1.04131e+03, 1.00000e+00],
       [4.00000e+00, 1.00000e+00, 6.00000e+00, 5.91830e+02, 1.00000e+00]])

In [10]:
labels.values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [11]:
# !qbraid jobs enable default

In [12]:
#hub=ibm-q-education, group=codershq-1 and project=nyuad-2023




import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from qiskit import Aer
from qiskit.circuit.library import ZZFeatureMap
from qiskit_machine_learning.algorithms import QSVC
from qiskit_machine_learning.datasets import ad_hoc_data
from qiskit_machine_learning.kernels import QuantumKernel

from qiskit_ibm_provider import IBMProvider

# provider = IBMProvider(instance='ibm-q-startup/qbraid/main')
provider = IBMProvider(instance='ibm-q-education/codershq-1/nyuad-2023')
backend = provider.get_backend('ibmq_qasm_simulator')


# Load the credit card fraud detection dataset
# df = pd.read_csv('creditcard.csv')
# Split the dataset into training and testing sets
X = result.iloc[:, :-1]
y = result.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# Encode the training and testing data onto a quantum circuit using the ZZFeatureMap
feature_map = ZZFeatureMap(X.shape[1], reps=2)
# backend = Aer.get_backend('qasm_simulator')
print('*'*100)
qkernel = QuantumKernel(feature_map,quantum_instance=backend)
# X_train_encoded = qkernel.evaluate(X_train)
# X_test_encoded = qkernel.evaluate(X_test)
# Set up the QSVC algorithm
print('instantiating qvc')
svm = QSVC(quantum_kernel=qkernel        
        )
# Train the QSVC algorithm on the training data
print('training')
svm.fit(X_train, y_train)
print('done')
# Test the QSVC algorithm on the testing data
y_pred = svm.predict(X_test) #??? what is this?
print('done predict')
# Print the accuracy of the QSVC algorithm
accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)

****************************************************************************************************
instantiating qvc
training
done
done predict
Accuracy: 0.43333333333333335

In [ ]:
# Test the QSVC algorithm on the testing data
y_pred = svm.predict(X_test)
print('done predict')
# Print the accuracy of the QSVC algorithm
accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)